body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: hsl(0, 0%, 63%)
}
main {
    margin: 0 auto;
    width: 70%;
}
section {
    border-bottom: 1px solid gray;
}
#name-surname, #contact-info, .university-name, .office-name, .skill-name {
    color: #282C2F;
}
/* About Section */
#about, section {
    display: flex;
    flex-direction: row;
}
#description, #contact-tools, #contact-info, #cv-avatar {
    display: flex;
    flex-direction: column;
    width: 35%;
} 
#contact-info {
    margin-right: 22px;
}
#description  {
    justify-content: flex-start;
}
#contact-tools, #contact-info {
    justify-content: center;
    align-items: flex-end;
}
#cv-avatar {
    align-items: baseline;
    justify-content: center;
}
/* Education, Experience & Skills Section */
.university-name, .office-name, .skill-name {
    font-style: italic;
}
.edu-info, .exp-info, .skill-info {
    display: flex;
    flex-direction: column;
}
.education-info, .job-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.education, .experience, .skills {
    min-width: 15%;
    margin-right: 10px;
    border-right: 1px solid gray;
}